{% extends 'base.html' %}
{% block content %}

<section class="container mt-5">

    <div class="detail-card">

        <h2>{{ career.role }}</h2>

        <span class="badge-type">
            {{ career.employment_type }}
        </span>

        {% if career.salary %}
        <p class="salary">
            💰 {{ career.salary }}
        </p>
        {% endif %}

        <hr>

        <p>
            {{ career.job_description }}
        </p>

        <button class="apply-btn"><a href="{% url 'apply_job' career.id %}" class="apply-btn">
    Apply Now
</a></button>

    </div>

</section>

{% endblock %}